
@{
    //Layout = "/Views/Layout/LayoutHome.cshtml";
    //ViewBag.Title = "Hometest";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Restaurant Rating Made More Fun">
    <meta name="keywords" content="Eat, Enjoy, Earn">
    <meta name="author" content="PaoloVillena">
    <title>ReastauRate|Home</title>
    <link rel="stylesheet" href="~/Content/Css/StyleSheet1.css">
    <link rel="icon" type="image/png" href="./img/RestauRate_logo.png">
</head>
<!--The start of everything-->
<body>
    <section id="display">
        <div class="container">
            <h1>RestauRate Love Your Customers</h1>
            <p>Aliquam eget nibh dapibus, facilisis eros vel, dictum ligula. Aenean dapibus elit felis, sed pulvinar dui mollis eleifend. Curabitur lacinia, velit sit amet sodales consectetur, nunc sem sodales enim, vel tristique erat nibh ac ligula.</p>
        </div>
    </section>
 
    <!--the steps in the app describe everthing i just three sentences-->
    <section id="boxview">
        <div class="container">
            <div class="box">
                <img src="./img/QR_Scan.png">
                <h3>Scan</h3>
                <p>Phasellus interdum turpis a sapien iaculis, in mattis diam lacinia. Morbi ultricies efficitur feugiat. Integer finibus dignissim ante quis ornare.</p>
            </div>
            <div class="box">
                <img src="./img/Survey.png">
                <h3>Review</h3>
                <p>Phasellus interdum turpis a sapien iaculis, in mattis diam lacinia. Morbi ultricies efficitur feugiat. Integer finibus dignissim ante quis ornare.</p>
            </div>
            <div class="box">
                <img src="./img/Reward.png">
                <h3>Reward</h3>
                <p>Phasellus interdum turpis a sapien iaculis, in mattis diam lacinia. Morbi ultricies efficitur feugiat. Integer finibus dignissim ante quis ornare.</p>
            </div>
        </div>
    </section>

  
</body>
</html>