
@{
    Layout = "/Views/Layout/LayoutHome.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Restaurant Rating Made More Fun">
    <meta name="keywords" content="Eat, Enjoy, Earn">
    <meta name="author" content="PaoloVillena">
    <title>ReastauRate|Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Css/StyleSheet1.css">

</head>

<!--login forms-->
<body>
    <section class="login_display">

        <div class="login_container">
            <div class="form_content">
                <img src="~/Content/Images/Logo.png" height="300px" />
               
                
            </div>
            <div class="login_form">
                <br />
                <br />
                <br />
                <br />

                @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                    <input type="email" name="username" placeholder="Email" id="username">
                    <input type="password" name="password" placeholder="Password" id="password">
                    <button onclick="login()" class="btn btn-primary">
                        <i class="glyphicon glyphicon-log-in"> Login</i>
                    </button>
                }
            </div>

        </div>

    </section>

</body>

</html>