@{
    Layout = "/Views/Layout/LayoutAdmin.cshtml";
}
<style>
    body {
            background-image: url('/Content/Images/2397.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
</style>
<body>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
</body>

